body {
  font-family: "Montserrat";
  text-align: center;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

/*/ Headings*/
.headingDreamWand {
  font-family: 'Montserrat-Black';
  font-size: 3rem;
  line-height: 1.5;
}

/*Navigation Bar*/
.navbar-brandhaha {
  font-family: "Dancing Script";
  font-size: 2.25rem !important;
  font-weight: bold;
}

.navbar {
  padding: 0 0 1rem !important;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.center-align-class {
  text-align: center;
}

.featuresParagraph {
  color: #8f8f8f;
}

.font-awesome-button {
  color: #865840;
  font-size: 3rem;
}

.font-awesome-button:hover {
  color: #94714f;
}

/*Download Buttons*/
.buy-button {
  margin: 5% 3% 5% 0;
}

.featuresSection {
  margin: 10% auto 10% auto !important;
  width: 80%;
}

/*Title Image*/
.wand-image {
  height: 500px;
  transform: rotate(15deg);
  position: absolute;
  right: 30%;
}

/*Title Section*/
#title {
}

.container-fluidhaha {
  padding: 3% 15% 7%;
}

.dream-wand {
  margin-top: 10%;
  margin-bottom: 8%;
  font-size: 3.25rem;
}

.buy-new-button {
  margin-right: 5%;
}

/*Features Section*/
/*Testimonials Section*/
#testimonials {
  text-align: center;
  background-color: #865840;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

/*Images*/
.HarryPotterImage {
  height: 100px;
  border-radius: 100%;
  margin: 20px;
}

.HogwartsImage {
  height: 175px;
}

.ThreeBroomsticksImage {
  height: 175px;
}

.DailyProphetImage {
  height: 225px;
}

.FlourishAndBlottsImage {
  height: 175px;
}

.McGonagallwowwwwwww {
  height: 100px;
  border-radius: 100%;
}

.HagridImage {
  height: 100px;
  border-radius: 100%;
}

/*Press*/
#press {
  background-color: #865840;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*Pricing Section*/
#pricing {
  padding: 100px;
  text-align: center;
}

.featuresHeading {
  font-size: 1.5rem;
  font-weight: bolder;
}

.pricing-column {
  padding: 3% 2%;
}

#features {
  padding: 7% 15%;
  position: relative;
}

@media (max-width: 1028px) {
  .wand-image {
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}

/* CALL TO ACTION*/


.FindWandOfYourDreams {
  color: white;
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
}

/*Footer*/
.twitter-image {
  margin-top: 50px;
}

.facebook-image {
  margin-left: 25px;
}

.instagram-image {
  margin-left: 25px;
}

.envelope-image {
  margin-left: 25px;
}

.Copyright {
  color: grey;
  text-align: center;
  padding-top: 20px;
}

#footer {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
}

/*Sections*/

.colored-section {
  background-color: #D4AF37;
  color: #fff;
}

.white-section {
  background-color: #fff;
}
