
body {
  font-family: "Montserrat";
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #D4AF37;
  color: #fff;
}

.headingDreamWand {
  font-family: 'Montserrat-Black';
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluidhaha {
  padding: 3% 15%;
}

.dream-wand {
  margin-top: 10%;
  margin-bottom: 8%;
  font-size: 3.25rem;
}

.buy-new-button {
  margin-right: 5%;
}

/*Navigation Bar*/

.navbar-brandhaha{
  font-family: "Dancing Script";
  font-size: 2.25rem !important;
  font-weight: bold;
}

.navbar{
  padding: 0 0 1rem !important;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.center-align-class {
  text-align: center;
}

.featuresHeading {
  font-size: 1.5rem;
  font-weight: bolder;
}

.featuresParagraph {
  color: #8f8f8f;
}

.font-awesome-button {
  color: #865840;
  font-size: 3rem;
}

.font-awesome-button:hover {
  color: #94714f;
}
/*Download Buttons*/
.buy-button {
  margin: 5% 3% 5% 0;
}

.featuresSection {
  margin: 10% auto 10% auto !important;
  width: 80%;
}
/*Title Image*/

.wand-image {
  height: 500px;
  transform: rotate(15deg);
}

/*Testimonials Section*/
#testimonials {
  text-align: center;
  background-color: #865840;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

/*Images*/
.HarryPotterImage {
  height: 100px;
  border-radius: 100%;
  margin: 20px;
}

.HogwartsImage {
  height: 175px;
}

.ThreeBroomsticksImage {
  height: 175px;
}

.DailyProphetImage {
  height: 225px;
}

.FlourishAndBlottsImage {
  height: 175px;
}

.McGonagallwowwwwwww {
  height: 100px;
  border-radius: 100%;
}

.HagridImage {
  height: 100px;
  border-radius: 100%;
}


/*Press*/

#press {
  background-color: #865840;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*Pricing Section*/
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}
