body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  position: relative;
  font-family: 'Sacramento', cursive;
  font-size: 500%;
  color: rebeccapurple;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #eb906e;
  font-weight: bolder;
  padding: 30px;
}

h3 {
  color: rebeccapurple;
}

.top-container {
  background-color: #ffe4e4;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #ffbaba;
  margin: 0;
  padding: 0;
}

.web {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.HelloParagraph {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #eb906e;
}

.SanyaPhoto {
  border-radius: 200%;
  padding-top: 30px;
  padding-bottom: 30px;
}

hr {
  margin: 0;
}

.HeadingContactMe {
  padding: 20px;
}

.ContactParagraph {
  padding: 20px;
}

.TeacherImage {
  max-width: 15%;
  max-height: 15%;
}

.bottomContainerHeading {
  padding: 20px;
  margin: 0;
  color: #cc2929;
}

.CopyrightParagraph {
  margin: 0;
  padding: 20px;
}

.WebDevHeading {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.profile {
  width: 35%;
  margin: auto;
}

.ComputerPhoto {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ScratchLogo {
  width: 25%;
  float: right;
  margin-left: 30px;
  vertical-align: middle;
}

.CupcakePhoto {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.TeachingPhoto {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.DottedHorizontalRule {
  background-color: transparent;
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  width: 4%;
  background-size: 3px 1px;
  margin: 80px auto 80px auto;
  color: #EAF6F6;
}
.AccountLinks {
  color: #cc2929;
  padding: 10px;
  text-decoration: none;
}
.MySkills {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #eb906e;
}

p {
  line-height: 2;
}
